.nss-footer{
    width: 100vw;
    background-color: #20232a;
    color: #fff;
}

.footer-inner{
    display: -ms-flexbox;
    /* width: 100%; */
    justify-content: space-between;
    display: flex;
    height: 40px;
    padding: 0 20px;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
}