html{
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}


a {
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;

}
ol, ul{
    list-style: none;
}
p{
    margin: 0;
}

body{
    margin: 0px; 
    overflow-x: hidden;
}

.header{
    background-color: #20232a;
    color: #ffffff;
    width: 100vw;
}
.box{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.header-inner{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
}
.list-item{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    transition: color 0.2s ease-out;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    border-bottom: 3px solid transparent;
    box-sizing: border-box;
}

.list-item.selected{
    color: rgb(97, 218, 251);
}

.list-item:focus{
    outline: 0;
    background-color: #373940;
    color: #ffffff;
}

.list-item-logo{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-right: 10px;
    height: 100%;
    align-items: center;
    color: rgb(97, 218, 251);
    -webkit-box-align: center;
    -webkit-align-items: center;
}
.navBar{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 60%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;

    flex-grow: 1;
    width: auto;
    -webkit-flex-grow: 1;
}


.header-form{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    -webkit-flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;


    justify-content: flex-end;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;

    margin-right: 10px;
}

.form-item{
    align-items: center;
}
.input-search{
    box-sizing: border-box;
    background: transparent;
    border: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    position: relative;
    padding: 5px 5px 5px 29px;
    background-image: url('https://reactjs.org/search.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input-search:focus{
    outline: 0;
    background-color: #373940;
    border-radius: 0.25rem;
}

/* article */

.body{
    display: flex;
}

  
@media (min-width: 799px){

    .list-item.selected{
        border-bottom: 4px solid rgb(97, 218, 251);
    }
}
@media (max-width: 778.98px){
    .header{
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }
    .header-inner{
        height: 40px;
    }
    .body{
        margin-top: 40px;
    }
    .input-search{
        width: 16px;
        transition: width 0.2s ease, padding 0.2s ease;
        padding-left: 16px;
        -webkit-transition: width 0.2s ease, padding 0.2s ease;
        -moz-transition: width 0.2s ease, padding 0.2s ease;
    }
    .input-search:focus{
        padding-left: 29px;
        width: 8rem;
        outline: none;
    }
    .toggle-icon{
        display: none;
    }
}

@media (min-width:375px) and (max-width: 778.98px){

    .box{
        padding: 0 15px;
    }
   
}
@media (max-width: 374.98px){

    .box{
        padding: 0 10px;
    }
   
}